
@import '_settings.scss';

// @font-face {
//   font-family: 'Montserrat-Black';
//   src: url('../assets/fonts/Montserrat-Black.otf');    
// }

// $fa-font-path: "../../node_modules/font-awesome/fonts";

@import "foundation-sites/scss/foundation";
@include foundation-everything(true);

@import "font-awesome/scss/font-awesome";


@import "../components/Top-Nav/Top-Nav.scss";
@import "../components/Sidebar/Sidebar.scss";
@import "../components/OrderForm/OrderForm.scss";
@import "./Main/Main.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.app-dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-dashboard-body {
  flex: 1 1 auto;
  display: flex;
}

.wireframe-box {
  border: 1px solid black;
  // background-color: $white;
  // width: 100%;
  // height: 100%;
}

.cards {
  background-color: $white;
  border-radius: 3px;
  border: 1px solid rgba(173,179,185,0.51);
}


// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .app-dashboard.shrink-medium {
    @include shrunk-sidebar()
  }
}
@include breakpoint(large) {
  .app-dashboard.shrink-large {
    @include shrunk-sidebar()
  }
}
