#remarks-wrapper {
  margin-top: 14px;

  label {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    color: #333333;

    textarea#remarks {          
      @extend .main-font;
      line-height: 17px;
      font-size: 11px;
      height: 82.96px;
    }
  }

  
}