#orderinfo-wrapper {
  margin-top: 36px; }
  #orderinfo-wrapper #orderinfo-inputs {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px; }
    #orderinfo-wrapper #orderinfo-inputs span {
      line-height: 20px; }
      #orderinfo-wrapper #orderinfo-inputs span #orderinfo-from span {
        font-size: 16px;
        color: #626272;
        line-height: 21px;
        font-weight: bold; }
      #orderinfo-wrapper #orderinfo-inputs span #orderinfo-number span {
        font-family: Montserrat;
        font-weight: 600;
        color: #8899AA; }

#productinput-wrapper {
  margin-top: 17px; }
  #productinput-wrapper #productinput {
    height: 50px; }

#productlist-wrapper {
  margin-top: 14px; }
  #productlist-wrapper table#productlist thead {
    background-color: #ffffff; }
    #productlist-wrapper table#productlist thead th {
      text-transform: uppercase;
      font-size: 8px;
      font-weight: bold;
      color: #626272; }
  #productlist-wrapper table#productlist tbody {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 11px;
    color: #8899AA; }
    #productlist-wrapper table#productlist tbody .sku {
      color: #64707C;
      font-size: 12px; }
    #productlist-wrapper table#productlist tbody .qty .icon {
      height: 17px;
      width: 17px; }
    #productlist-wrapper table#productlist tbody .price-set-alert a {
      font-size: 11px;
      color: #CD171A;
      text-decoration: underline; }
    #productlist-wrapper table#productlist tbody .remove-item a {
      font-size: 10px;
      color: #626272;
      text-decoration: underline; }

#remarks-wrapper {
  margin-top: 14px; }

.container {
  max-width: 1193px; }

.order-title div {
  font-family: Montserrat;
  font-weight: 300;
  line-height: 29px;
  font-size: 24px;
  color: #6C5E73; }
  .order-title div span.title {
    color: #6C5E73;
    opacity: 0.2;
    font-size: inherit; }
