#orderinfo-wrapper {
  margin-top: 36px;

  
  #orderinfo-inputs {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    
    span {
      line-height: 20px;
      #orderinfo-from {
        span {
          font-size: 16px;
          color: #626272;
          line-height: 21px;
          font-weight: bold;  
        }
      }      

      #orderinfo-number {
          span {
            font-family: Montserrat;
            font-weight: 600;
            color: #8899AA;
          }
      }
    }

    .orderinfo-select {
      text-align: center;

      label {
        @extend .main-bold-font;

        select {
          @extend .main-font;
          border-radius: 4px;
          border: 1px solid #C9C9C9;
          padding-left: 16px
        }
      }      
    }

  }  

  #order-actions {
    padding-top: 19px;
    a.back {
      font-family: Montserrat; 
      font-size: 14px;
      color: #626272;
      margin-top: 12px;

    }

    a.button {
      color: white;
    }


  }
}
