@import '../../../containers/_settings.scss';
@import "foundation-sites/scss/foundation";

#orderinfo-wrapper {
  margin-top: 36px;

  @include breakpoint(small only) {
      margin-top: 0px;
  }

  .mobile-order-info {  
    background: white;
    box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.11), 0 2px 3px 0 rgba(98,98,114,0.21);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 8px;


    .mobile-orderinfo-from {
        @extend .main-bold-font; 
        font-size: 24px !important;
        color: #626272 !important;
    }

    .mobile-orderinfo-location {
      @extend .main-font;
      font-size: 14px !important;
    }

     @include breakpoint(small only) {
        margin-top: 0px;
      }      
  }






  
  #orderinfo-inputs {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;

    @include breakpoint(small only) {
      background-color: transparent !important;
      border: 0px;
      height: auto;
    }
    
    span {
      line-height: 20px;
      #orderinfo-from {
        span {
          font-size: 16px;
          color: #626272;
          line-height: 21px;
          font-weight: bold;  
        }
      }      

      #orderinfo-number {
          span {
            font-family: Montserrat;
            font-weight: 600;
            color: #8899AA;
          }
      }
    }

    .orderinfo-select {
      text-align: center;

      @include breakpoint(small only) {
        text-align: left;
      }

      label {
        @extend .main-bold-font;

        select {
          @extend .main-font;
          border-radius: 4px;
          border: 1px solid #C9C9C9;
          padding-left: 16px;

          
        }
      }      
    }

  }  

  #order-actions {
    padding-top: 19px;
    a.back {
      font-family: Montserrat; 
      font-size: 14px;
      color: #626272;
      margin-top: 12px;
      &:hover {
        color: lighten(#626272, 20%);
      }

    }

    a.button {
      color: white;
    }


  }
}
