@import "foundation-sites/scss/foundation";

.app-dashboard-body-content {
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
  overflow-y: auto;
  flex: 1 1 0;  
  background-color: $white;
}

