@import "foundation-sites/scss/foundation";
@import '../../containers/_settings.scss';

.app-dashboard-sidebar {
  background-color: $base;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .app-dashboard-sidebar-title-area {    
    .logo {
      width: 158px;
      height: 50px;
    }

    background-color: $purple-dark;
  }



  .app-dashboard-open-sidebar, .app-dashboard-close-sidebar{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    // height: 69.86px;

    // padding: 0.5rem 2.7rem;
  }

  .app-dashboard-close-sidebar {
    padding: 0.5rem 2.7rem; 
    height: 69.86px;
  }

  .app-dashboard-sidebar-close-button {
    font-size: 14px;
  }

  .app-dashboard-sidebar-inner {
    flex: 1;
    // height: 100%;
    // overflow-x: hidden;
    // overflow-y: auto;

    .icon {
      height: 17px;
      width: 17px;
      margin-right: 21px;
      margin-left: 17px;
    }

    .menu {
      margin-top: 14px;

      li {
        
        height: 66.87px;  

        &:hover {
          background-color: $purple-dark;
        }

        a {
          align-items: center;      
          height: 100%;
          width: 100%;
          padding: 0px;

          &:hover {
            color: $purple-light;
          }

          .sidebar-list-wrapper {
            height: 30px;
            padding-top: 6px;
            padding-left: 7px;
          }

        }

        &.active {
          background-color: $purple-dark;

          a {

            background-color: transparent;
            border-radius: 0 17px 17px 0;
            background-color: $purple-dark;  

            .sidebar-list-wrapper {                  
                  border-left: 4px solid #65B32E;
                  padding-left: 2px;                  
            }          

          }

        }        
      }
    }



  }
  
}

.app-dashboard-sidebar-text {
  font-family: Montserrat;
  font-weight: 600;
  color: $purple-light;
  font-size: 14px;
}

.reveal-for-medium {
  .app-dashboard-open-sidebar {
    display: none;
  }
}


.app-dashboard-sidebar-footer {
  background: transparent;  
  padding-left: 5rem;
  padding-right: 5rem;  
  width: 100%;

  img.logo_footer{
    height: 80px;
  }
}

.app-dashboard-open-sidebar {
  text-align: center;
}



@mixin shrunk-sidebar() {
  .app-dashboard-close-sidebar, .app-dashboard-sidebar-text {
    display: none;
  }

  .app-dashboard-open-sidebar {
    display: block;
  }

  .app-dashboard-sidebar {
    width: 80px;
    .fa.large {
      width: auto;
    }
  }

  .off-canvas-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .navigation {
    margin-top: 2rem;
    text-align: center;

  }
  .menu.vertical > li > a {
    justify-content: center;
  }

  .menu {
    li {
      &::after {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      a {
        padding: 0.75rem;
        svg {
          margin: 0;
        }
        span {
          display: none;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }
      }
    }
  }
}


