@import '../../../containers/_settings.scss';

#productlist-wrapper {
  margin-top: 14px;

  table#productlist {

    // border-collapse: collapse;

    thead {
      background-color: #ffffff;

      th {
        text-transform: uppercase;
        font-size: 8px;
        font-weight: bold;
        color: #626272;
      }
    } 

    tbody {

      @extend .main-font;

      .sku {
        color: #64707C;
        font-size: 12px;
      }

      .qty {
        .icon {
          height: 17px;
          width: 17px;
        }
      }

      .price-set-alert {
        a {
          font-size: 11px;
          color: #CD171A;  
          text-decoration: underline;
        }

      }

      .remove-item {
        a {
          font-size: 10px;
          color: #626272;  
          text-decoration: underline;
        }
        
      }
    }

  }
}