@import "foundation-sites/scss/foundation";
@import '../../containers/_settings.scss';

$app-dashboard-top-nav-color: #2c3840;
$app-dashboard-top-nav-height: 55px;

.app-dashboard-top-nav-bar  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $app-dashboard-top-nav-height;
  width: 100%;
  flex: 0 0 $app-dashboard-top-nav-height;
  border: 1px solid $black;  

  @include breakpoint(small only) {
    background-color: $purple-dark !important;
  }

  .menu-icon {
    vertical-align: text-bottom;
    background: $black;
    border: 1px solid black;

    &:after {
        color: $black;
    }
  }

  .top-bar-left {

    .arrowGrey {
      width: 19px;
      height: 17px;
      transform: rotate(180deg)
    }

    #title-bar-small {
      text-align: center;
      color: white;
    }

    .magnifyingGlass {
      width: 17px;
      height: 17px;
      margin-top: 2px;
      float: right;
    }
  }
  
  .top-bar-right {
    @extend .main-font;

    ul {
      background: $white;
    }

    ul.dropdown {
      background: transparent;

      li#top-nav-dropdown {  
        border-left: 1px solid rgba(201, 201, 201, 0.69);
        a {
          color: #64707C;
          font-size: 12px; 
          display: block;       

          #profile-name {
            color: #d5622f;
          }
        }
      }

      li#top-nav-select-wrapper {
          padding-right:20px;
          
          select#top-nav-select {

            @extend .main-font;
            border-radius: 4px;
            border: 1px solid #C9C9C9;
            padding-left: 16px;
          }

      }

      
    }
  }
}

.app-dashboard-logo {
  color: $black;
  text-transform: uppercase;
  font-weight: bold;
}

.app-dashboard-search-bar-container {
  position: relative;
}

.app-dashboard-search {
  background: lighten($app-dashboard-top-nav-color, 10%);
  border: 0;
  margin-bottom: 0;
  color: $white;

  &:active,
  &:focus {
    background: darken($app-dashboard-top-nav-color, 5%);
  }
}

.app-dashboard-search-icon {
  position: absolute;
  color: $white;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.app-dashboard-top-bar-actions {
  align-items: center;
  display: flex;

  button {
    margin-bottom: 0;
    margin-right: 2rem;

    &.hollow {
      border-color: $white;
      color: $white;
      
      &:hover {
        background: $white;
        color: $primary-color;
      }
    }
  }

  .fa-info-circle {
    color: $white;
    font-size: 1.5rem;
  }
}
